<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <form [formGroup]="myForm"  class="form-horizontal" (ngSubmit)="ApplyAward()">
                    <div class="card-header card-header-text" data-background-color="orange">
                        <h4 class="card-title">Award Details</h4>
                    </div>
                    <input type="hidden" formControlName="id">
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Award Name</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" placeholder="{{apiservies.award.AwardName}}" disabled="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Category</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" placeholder="{{apiservies.award.SubCategory.Category.Category1}}" disabled="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Sub Category</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" placeholder="{{apiservies.award.SubCategory.SubCategory1}}" disabled="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">FullName</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" value="{{username}}" disabled="">
                                    <span class="help-block">Enter Your full name Eg:FirstName LastName Surname</span>
                                </div>
                            </div>
                        </div>
                        <div formArrayName="que">
                            <div class="row" *ngFor="let quea of apiservies.award.Questions;let i=index;let queans of myForm.controls.que.controls; ">
                                <label class="col-sm-2 label-on-left">Question</label>
                                <div class="col-sm-10" [formGroupName]="i">
                                    <temp [group]="myForm.controls.que.controls[i]" [QuId]="quea.QueId" [Que]="quea.Question1"></temp>
                                </div>
                            </div>
                        </div>
                        <!-- end here -->
                        <div class="row">
                            <label class="col-sm-2 label-on-left"></label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <button class="btn btn-success " type="submit">
                                        <i class="material-icons">mode_edit</i> Apply 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>