.star {
    font-size: 2.5rem;
    color: #FFF9C4;
  }
  .filled {
    /* color: #1e90ff; */
    color :#FFC107
  }
  .bad {
    color: #FFCDD2;
  }
  .filled.bad {
    color: #D50000;
  }
  .good {
      color: #DCEDC8;
  }
    .filled.good {
      color: #33691E;
  }