<div class="main-content">
    <div class="container-fluid">
        <!-- 
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">today</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sports</h4>
                            <div class="form-group">
                                <label class="label-control">Cricket</label>
                                <select class="selectpicker" data-style="select-with-transition" title="Choose Subcategory" data-size="5">                                
                                    <option value="2">Man of The match </option>
                                    <option value="3">Best Filder</option>
                                    <option value="4">Best Boller</option>
                                    <option value="5">Best bat's Mank</option>
                                    <option value="6">Best team</option>
                                    <option value="7">Piatra Neamt</option>
                                    <option value="8">Paris </option>
                                    <option value="9">Bucharest</option>
                                    <option value="10">Rome</option>
                                    <option value="11">New York</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">today</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sports</h4>
                            <div class="form-group">
                                <label class="label-control">Cricket</label>
                                <select class="selectpicker" data-style="select-with-transition" title="Choose Subcategory" data-size="5">
                                    <option value="2">Man of The match </option>
                                    <option value="3">Best Filder</option>
                                    <option value="4">Best Boller</option>
                                    <option value="5">Best bat's Mank</option>
                                    <option value="6">Best team</option>
                                    <option value="7">Piatra Neamt</option>
                                    <option value="8">Paris </option>
                                    <option value="9">Bucharest</option>
                                    <option value="10">Rome</option>
                                    <option value="11">New York</option>  
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">today</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sports</h4>
                            <div class="form-group">
                                <label class="label-control">Cricket</label>
                                <select class="selectpicker" data-style="select-with-transition" title="Choose Subcategory" data-size="5">
                                    <option value="2">Man of The match </option>
                                    <option value="3">Best Filder</option>
                                    <option value="4">Best Boller</option>
                                    <option value="5">Best bat's Mank</option>
                                    <option value="6">Best team</option>
                                    <option value="7">Piatra Neamt</option>
                                    <option value="8">Paris </option>
                                    <option value="9">Bucharest</option>
                                    <option value="10">Rome</option>
                                    <option value="11">New York</option>  
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">today</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sports</h4>
                            <div class="form-group">
                                <label class="label-control">Cricket</label>
                                <select class="selectpicker" data-style="select-with-transition" title="Choose Subcategory" data-size="5">
                                    <option value="2">Man of The match </option>
                                    <option value="3">Best Filder</option>
                                    <option value="4">Best Boller</option>
                                    <option value="5">Best bat's Mank</option>
                                    <option value="6">Best team</option>
                                    <option value="7">Piatra Neamt</option>
                                    <option value="8">Paris </option>
                                    <option value="9">Bucharest</option>
                                    <option value="10">Rome</option>
                                    <option value="11">New York</option>    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        -->
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card fixed-height">
                    <div class="card-header card-header-text" data-background-color="orange">
                        <h4 class="card-title">News</h4>  
                    </div>
                    <div class="card-content ">
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <div class="card-content force-overflow sidebar-wrapper ps-active-y ps-scrollbar-y-rail">
                                <span data-notify="message" class="ps-scrollbar-y"> 
                                    <p>
                                        This is a notification with close button and icon and have many lines.
                                        You can see that the icon and the close button are always vertically aligned. 
                                        This is a beautiful notification. So you don't have to worry about the style.
                                        This is a beautiful notification. So you don't have to worry about the style.
                                        This is a beautiful notification. So you don't have to worry about the style
                                        This is a beautiful notification. So you don't have to worry about the style
                                        This is a beautiful notification. So you don't have to worry about the style
                                    </p>
                                </span>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>            
            <div class="col-lg-6 col-md-6">
                <div class="card fixed-height " >
                    <div class="card-header card-header-text" data-background-color="orange">
                        <h4 class="card-title">LEADER BOARD</h4>
                        <p class="category">Winners </p>
                    </div>
                    <div class="card-content table-responsive force-overflow sidebar-wrapper ps-active-y ps-scrollbar-y-rail col-sm-12">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th class="text-center col-sm-3">Position</th>
                                <th class="text-center col-sm-3">Name of Winner</th>
                                <th class="text-center col-sm-3">Awards Won</th>
                                <th class="text-center col-sm-3">Result</th>      
                            </thead>
                        </table>
                        <div class="ps-scrollbar-y col-sm-12">
                            <table class="table table-hover">          
                                <tbody>
                                    <tr *ngFor="let app of apiservices.userList;let i=index">
                                        <td class="text-center col-sm-3">{{i+1}}</td>
                                        <td class="text-center col-sm-3"> 
                                            <img src="{{app.Image}}" class="img-circle" style="width:50px;height:50px" id="wizardPicturePreview" /> 
                                            <div style="word-break: normal">{{app.Name}}</div> 
                                        </td>
                                        <td class="text-center col-sm-3">{{app.Applications.length}}</td>
                                        <td class="text-center col-sm-3">80%</td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Application status</h4> 
                        <div class="row">
                            <table class="table table-responsive">
                                <thead class="text-warning">
                                    <tr>
                                        <th class="text-center">Application Name</th>
                                        <th class="text-center">Application Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let app of appdata">
                                        <td class="row-size text-center">{{app.Award.AwardName}}</td>
                                        <td class="text-center" [ngSwitch]="app.Stage">
                                            <!-- Step Progress bar start  -->
                                            <div class="bs-wizard" style="border-bottom:0;" *ngSwitchCase="1">
                                                <div class="col-md-2 bs-wizard-step active">
                                                    <div class="text-center bs-wizard-stepnum">Initial Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Asscsor Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>          
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Jury Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>                                                    
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Chairman Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Winner Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                            </div>
                                            <div class="bs-wizard" style="border-bottom:0;" *ngSwitchCase="2">      
                                                <div class="col-md-2 bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Initial Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Asscsor Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>  
                                                </div>                                                    
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Jury Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>  
                                                </div>    
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Chairman Stage</div><div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>  
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Winner Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                            </div>
                                            <div class="bs-wizard" style="border-bottom:0;" *ngSwitchCase="3">      
                                                <div class="col-md-2 bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Initial Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Asscsor Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>                                                          
                                                </div>        
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Jury Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>                                                          
                                                </div>        
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Chairman Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>                                                          
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Winner Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div> 
                                            </div>
                                            <div class="bs-wizard" style="border-bottom:0;" *ngSwitchCase="4">                                                  
                                                <div class="col-md-2 bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Initial Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Asscsor Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>          
                                                </div>            
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Jury Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>            
                                                <div class="col-md-2 bs-wizard-step complete"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Chairman Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>          
                                                </div>
                                                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Winner Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                            </div>
                                            <div class="bs-wizard" style="border-bottom:0;" *ngSwitchCase="5">      
                                                <div class="col-md-2 bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Initial Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Asscsor Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>              
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- complete -->
                                                    <div class="text-center bs-wizard-stepnum">Jury Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>                
                                                <div class="col-md-2 bs-wizard-step complete"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Chairman Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>      
                                                </div>
                                                <div class="col-md-2 bs-wizard-step complete"><!-- active -->
                                                    <div class="text-center bs-wizard-stepnum">Winner Stage</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <i class="bs-wizard-dot"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- Step progress bar Stop  -->
                                    </tr>
                                </tbody>
                            </table>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
