@model AwardManagement.Admin.RouteConfig

@{
    ViewBag.Title = "AdminProfile";
}

<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-8 col-md-push-2">
                <div class="card card-testimonial">
                    <div class="header">
                        <div class="card-avatar">
                            
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle">
                                    <label for="fileToUpload">

                                        <img src="../assets/img/default-avatar.png" class="picture-src" style="height:100px;width:100%;cursor:pointer;" alt="placeholder" />

                                    </label>
                                </div>

                                <input type="File" name="fileToUpload" id="fileToUpload" style="display:none" accept="image/*">

                                <label for="fileToUpload">
                                    <div class="fileinput-preview fileinput-exists thumbnail img-responsive" style="height:100px;width:100px"></div>
                                </label>

                            </div>
                        </div>


                    </div>

                    <form id="TypeValidation" class="form-horizontal" action="#" method="post">



                        <div class="card-content ">

                            <div class="row">


                                <div class="col-sm-7">
                                    
                                    @*<div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                <label for="fileToUpload">
                                                    <img src="~/assets/img/default-avatar.png" style="height:100px;width:100px" alt="placeholder" />
                                                </label>
                                            </div>
                                            <input type="File" name="fileToUpload" id="fileToUpload" style="display:none" accept="image/*">

                                            <label for="fileToUpload">
                                                <div class="fileinput-preview fileinput-exists thumbnail img-responsive" style="height:100px;width:100px"></div>
                                            </label>


                                        </div>*@
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 label-on-left">Name</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="firstName" />
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <label class="col-sm-3 label-on-left">Email Address</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="email" name="email" email="true" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Password</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="password" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Confirm Password</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="confirmPassword" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Mobile No</label>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" placeholder="+91 9874563210" name="mobileno" number="true" />
                                    </div>
                                </div>

                            </div>



                            <div class="row">
                                <label class="col-sm-3 label-on-left">DOJ</label>
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                        <input type="date" class="form-control datepicker" />
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <label class="col-sm-3 label-on-left">DOB</label>
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                        <input type="date" class="form-control datepicker" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary btn-fill">Submit</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>




